<div class="container-fluid" style="height: 100vh;">
    <div class="row">
        <!-- First Column -->
        <div class="col-4 justify-content-center"> 

            <!-- Income Card -->
            <div class="card ml-10 mt-10 p-4">
                <div class="flex justify-center">
                    <h3><strong>Income</strong></h3>
                </div>

                <table>
                    <tr>
                        <td colspan="2"><hr></td>
                    </tr>

                    <!-- Monthly Rent Income -->
                    <tr>
                        <td>Monthly Rent Income</td>
                        <td class="text-center" style="width: 200px;">
                            <app-rent-display *ngIf="property && !property.rent" [property]="property" (rentChange)="rentChange($event)"></app-rent-display>
                            <app-numerical-input 
                                *ngIf="!property || (property && property.rent)"
                                [modelField]="analysisService.yr0_income.rent_dol/12" 
                                [numType]="'DOLLARS'" 
                                (modelFieldChange)="analysisService.yr0_income.rent_dol = $event*12; updatePieChart()">
                            </app-numerical-input>
                        </td>
                    </tr>

                    <!-- Annual Rent Income -->
                    <tr *ngIf="!property || (property && property.rent)">
                        <td>Annual Rent Income</td>
                        <td>
                            <app-numerical-input 
                                *ngIf="!property || (property && property.rent)"
                                [modelField]="analysisService.yr0_income.rent_dol" 
                                [numType]="'DOLLARS'" 
                                [disabled]="true">
                            </app-numerical-input>
                        </td>
                    </tr>

                    <!-- Vacancy Rate -->
                    <tr>
                        <td>Vacancy Rate</td>
                        <td>
                            
                            <app-numerical-input 
                                [modelField]="analysisService.yr0_expenses.vacancy_rate" 
                                [numType]="'PERCENT'" 
                                (modelFieldChange)="analysisService.yr0_expenses.vacancy_rate = $event; updatePieChart()">
                            </app-numerical-input>

                        </td>
                    </tr>

                    <!-- Operating Income -->
                    <tr>
                        <td><strong>Total Operating Income</strong></td>
                        <td>
                            <app-numerical-input 
                                [modelField]="calcService.calculateOperatingIncomeInYear(analysisService.year, analysisService.yr0_income.rent_dol, analysisService.rentGrowthRate, analysisService.yr0_expenses.vacancy_rate)" 
                                [numType]="'DOLLARS'" 
                                [disabled]="true">
                            </app-numerical-input>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Summary Card -->
            <div class="card ml-10 mt-3 p-4">
                <div class="flex justify-center">
                    <h3><strong>Summary</strong></h3>
                </div>

                <table>
                    <tr>
                        <td colspan="2"><hr></td>
                    </tr>

                    <!-- Net Operating Income -->
                    <tr>
                        <td><strong>Net Operating Income (NOI)</strong></td>
                        <td style="width: 200px;">
                            <app-numerical-input 
                                [modelField]="calculateNOI()" 
                                [numType]="'DOLLARS'" 
                                [disabled]="true">
                            </app-numerical-input>
                        </td>
                    </tr>

                    <!-- Debt Service -->
                    <tr>
                        <td>
                            Debt Service
                            <i class="material-icons" style="color: rgb(2, 151, 237); font-size: 1.3rem; vertical-align: middle;" matTooltip="Use the mortgage calculator to change this value." >info</i>
                        </td>
                        <td>
                            <app-numerical-input 
                                [modelField]="(calcService.calcMonthlyPayment(analysisService.purchasePrice, analysisService.downPaymentPercentage, analysisService.loanTerm, analysisService.interestRate)*12)" 
                                [numType]="'DOLLARS'" 
                                [disabled]="true">
                            </app-numerical-input>
                        </td>
                    </tr>

                    <!-- Capital Expenses -->
                    <tr>
                        <td>Capital Expenses</td>
                        <td>
                            <app-numerical-input 
                                [modelField]="analysisService.yr0_expenses.capex_rate" 
                                [numType]="'PERCENT'" 
                                (modelFieldChange)="analysisService.yr0_expenses.capex_rate = $event; updatePieChart()">
                            </app-numerical-input>
                        
                        </td>
                    </tr>

                    <!-- Net Operating Income -->
                    <tr>
                        <td><strong>Pre-tax Cash Flow</strong></td>
                        <td>
                            <app-numerical-input 
                                [modelField]="(calcCashFlow())" 
                                [numType]="'DOLLARS'" 
                                [disabled]="true"
                                [colorMode]="'GP-RM'">
                            </app-numerical-input>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <!-- Column 2 -->
        <div class="col-8 justify-content-center">

            <!-- Expenses Card -->
            <div class="card mr-10 mt-10 p-4">
                <div class="flex w-full">
                    <h3 class="flex-grow text-center"><strong>Expenses</strong></h3>
                    <span class="ml-auto mt-3"><app-lever-toggle [isChecked]="showPieChart" (checkboxChanged)="showPieChart = $event"></app-lever-toggle></span>
                </div>

                <div class="flex mt-0">
                    <hr class="w-100 mt-0">
                </div>

                <div class="container-fluid">
                    <div class="row">

                        <!-- Expenses First Column -->
                        <div class="col-4 flex justify-center items-center" style="height: 400px;">
                            <table>

                                <!-- Maintenance Costs -->
                                <tr>
                                    <td>Maintenance Costs</td>
                                    <td>
                                        <app-numerical-input 
                                            [modelField]="analysisService.yr0_expenses.maintenance_rate" 
                                            [numType]="'PERCENT'" 
                                            (modelFieldChange)="analysisService.yr0_expenses.maintenance_rate = $event; updatePieChart()">
                                        </app-numerical-input>
                                    </td>
                                </tr>
                
                                <!-- Management Fee -->
                                <tr>
                                    <td>Management Fee</td>
                                    <td>
                                        <app-numerical-input 
                                            [modelField]="analysisService.yr0_expenses.management_fee_rate" 
                                            [numType]="'PERCENT'" 
                                            (modelFieldChange)="analysisService.yr0_expenses.management_fee_rate = $event; updatePieChart()">
                                        </app-numerical-input>
                                    </td>
                                </tr>
                
                                <!-- Property Taxes -->
                                <tr>
                                    <td>Property Taxes</td>
                                    <td>
                                        <app-numerical-input 
                                            [modelField]="analysisService.yr0_expenses.taxes_dol" 
                                            [numType]="'DOLLARS'" 
                                            (modelFieldChange)="analysisService.yr0_expenses.taxes_dol = $event; updatePieChart()">
                                        </app-numerical-input>
                                    </td>
                                </tr>
                
                                <!-- Insurance -->
                                <tr>
                                    <td>Insurance</td>
                                    <td>
                                        <app-numerical-input 
                                            [modelField]="analysisService.yr0_expenses.insurance_dol" 
                                            [numType]="'DOLLARS'" 
                                            (modelFieldChange)="analysisService.yr0_expenses.insurance_dol = $event; updatePieChart()">
                                        </app-numerical-input>
                                    </td>
                                </tr>
                
                                <!-- HOA Fee -->
                                <tr>
                                    <td>HOA Fee</td>
                                    <td>
                                        <app-numerical-input 
                                            [modelField]="analysisService.yr0_expenses.hoa_dol" 
                                            [numType]="'DOLLARS'" 
                                            (modelFieldChange)="analysisService.yr0_expenses.hoa_dol = $event; updatePieChart()">
                                        </app-numerical-input>
                                    </td>
                                </tr>
                
                                <!-- Utilities Cost -->
                                <tr>
                                    <td>Utilities Cost</td>
                                    <td>
                                        <app-numerical-input 
                                            [modelField]="analysisService.yr0_expenses.utilities_dol" 
                                            [numType]="'DOLLARS'" 
                                            (modelFieldChange)="analysisService.yr0_expenses.utilities_dol = $event; updatePieChart()">
                                        </app-numerical-input>
                                    </td>
                                </tr>
                
                                <!-- Miscellaneous Cost -->
                                <tr>
                                    <td>Miscellaneous Expenses</td>
                                    <td>
                                        <app-numerical-input 
                                            [modelField]="analysisService.yr0_expenses.misc_expenses_dol" 
                                            [numType]="'DOLLARS'" 
                                            (modelFieldChange)="analysisService.yr0_expenses.misc_expenses_dol = $event; updatePieChart()">
                                        </app-numerical-input>
                                    </td>
                                </tr>
                            </table>
                        </div>



                        <!-- Expenses Second Column -->
                        <div class="col-8 flex justify-center items-center" style="height: 400px;">
                            <p-chart *ngIf="showPieChart" type="doughnut" [data]="pieChartData" [options]="pieChartOptions" height="400px" width="38vw"></p-chart>
                            <p-chart *ngIf="!showPieChart" type="bar" [data]="barChartData" [options]="barChartOptions" height="400px" width="38vw"></p-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

