/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";

/* For map marker */
.custom-marker .material-icons{
    color: rgb(2, 151, 237);
    font-size: 2rem;
}

.custom-marker :hover {
    color: red;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 500;
    font-size: 18;
}

/* Message service snackbar styling */
.mat-mdc-snack-bar-container {
    &.error-snackbar {
        --mdc-snackbar-container-color: rgba(255, 0, 0, 0.7);;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
        display: flex;
        text-align: center; 
    }
}

.mat-mdc-snack-bar-container {
    &.success-snackbar {
        --mdc-snackbar-container-color: rgba(0, 201, 0, 0.8);;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
        display: flex;
        text-align: center; 
    }
}
