<div class="container-fluid backpattern" style="height: 100vh;">

    <!-- Street Address Card -->
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="card m-3 p-3 text-center w-50">
                <h3><strong>{{ property!.full_street_line }}, {{ property!.city }}, {{ property!.state }} {{ property!.zip_code }}</strong></h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">

            <!-- Home info card -->
            <div class="card p-4 d-flex flex-column h-100">

                <div class="row">
                    <h3 class="flex-grow text-center"><strong>Home</strong></h3>
    
                    <div class="flex">
                        <hr class="w-100 mx-auto">
                    </div>
                </div>

                <img [src]="property!.primary_photo" class="img-fluid rounded" alt="Property Image" style="max-height: 250px;">

                <div class="row justify-content-center">
                    <div class="col-6">
                        <ul class="list-group mt-3">
                          <li class="list-group-item"><strong>Beds:</strong> {{ property!.beds ? property!.beds : 0 }}</li>
                          <li class="list-group-item"><strong>Baths:</strong> {{ property!.full_baths ? property!.full_baths: 0 }} Full, {{ property!.half_baths ? property!.half_baths : 0 }} Half</li>
                          <li class="list-group-item"><strong>Built:</strong> {{ property!.year_built }}</li>
                          <li class="list-group-item"><strong>Style:</strong> {{ property!.style }}</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group mt-3">
                          <li class="list-group-item"><strong>MLS:</strong> {{ property!.mls }} (ID: {{ property!.mls_id }})</li>
                          <li class="list-group-item"><strong>Days on MLS:</strong> {{ property!.days_on_mls }}</li>
                          <li class="list-group-item"><strong>Status:</strong> {{ property!.status }}</li>
                        </ul>
                    </div>
                </div>

                <div class="mt-auto d-flex justify-content-center">
                    <app-common-button [text]="'View Full Listing'" (onClickEmitter)="openUrlInNewTab(property.property_url)"></app-common-button>
                </div>
            </div>
        </div>
        
        <div class="col-4">

            <!-- Financial card -->
            <div class="card p-4 h-100 d-flex flex-column">
                
                <div class="row">
                    <h3 class="flex-grow text-center"><strong>Financial</strong></h3>
        
                    <div class="d-flex">
                        <hr class="w-100 mx-auto">
                    </div>

                    <div class="col-6">
                        <ul class="list-group mt-3">
                          <li class="list-group-item"><strong>Price:</strong> {{ formatCurrency(property!.list_price) }}</li>
                          <li class="list-group-item"><strong>Assessed Value:</strong> {{ formatCurrency(property!.assessed_value) }}</li>
                          <li class="list-group-item"><strong>Estimated Value:</strong> {{ formatCurrency(property!.estimated_value) }}</li>
                        </ul>
                    </div>
                    
                    <div class="col-6">
                        <ul class="list-group mt-3">
                            <li class="list-group-item"><strong>HOA Fee (Annual):</strong> {{ formatCurrency(property!.hoa_fee) }}</li>
                            <li class="list-group-item"><strong>Tax:</strong> {{ formatCurrency(property!.tax) }}</li>
                            <li class="list-group-item"><strong>Price/Sqft:</strong> {{ formatCurrency(property!.price_per_sqft) }}</li>
                        </ul>
                    </div>
                </div>

                <div class="row flex-grow-1 d-flex justify-content-center align-items-center">
                    <app-tax-graph [property]="property"></app-tax-graph>
                </div>
    
            </div>
        </div>

        <div class="col-4">
            <!-- Location card -->
            <div class="card p-4 h-100">
                <div class="row">
                    <h3 class="flex-grow text-center"><strong>Location</strong></h3>
        
                    <div class="flex">
                        <hr class="w-100 mx-auto">
                    </div>
                </div>
    
                <div class="map-container" style="height: 50vh;">
                    <iframe width="100%" height="100%" frameborder="0" [src]="mapUrl"></iframe>
                </div>

                <div class="mt-4 ml-5">
                    <p *ngIf="property.nearby_schools"><strong>School Info:</strong> {{ property.nearby_schools }} </p>
                </div>
    
            </div>
        </div>
    </div>
  </div>
  