<div class="d-flex flex-column" style="height: 100vh;">
    <app-navbar></app-navbar>

    <div class="d-flex flex-column flex-grow-1 backpattern" style="height: 100%;">
        <div class="d-flex flex-grow-1">
            <div class="col-8 p-1 d-flex flex-grow-1"> 
                <app-map class="h-100 w-100"></app-map>
            </div>
            <div *ngIf="searchService.properties.length || searchService.loadingProperties" class="col-4 d-flex flex-grow-1 overflow-auto justify-content-center" style="max-height: 100%;">
                <app-property-view></app-property-view>
            </div>
            <div *ngIf="!searchService.properties.length && !searchService.loadingProperties" class="col-4 mt-4 d-flex flex-grow-1 overflow-auto justify-content-center" style="max-height: 100%;">
                <app-search-form></app-search-form>
            </div>
        </div>
    </div>
</div>