<div *ngIf="propertySearch.loadingProperties" class="d-flex justify-content-center align-items-center h-100">
        <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
</div>


<div *ngIf="propertySearch.properties.length > 0" class="container">
    <div #topDiv>
        <app-filter-and-sort></app-filter-and-sort>
    </div>
    <div class="row" *ngIf="highlightedProp">
        <div class="mt-2 d-flex g-1">
            <div class="w-100 h-100 d-flex">
                <app-property-panel [property]="highlightedProp" class="flex-grow-1"></app-property-panel>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let property of propertySearch.properties" class="col-md-6 mb-2 d-flex g-1">
            <div class="w-100 h-100 d-flex">
                <app-property-panel [property]="property" class="flex-grow-1"></app-property-panel>
            </div>
        </div>
    </div>
</div>