

<div class="container border g-flex border-gray-300 rounded-lg transition"  
    [ngClass]="{'disabled': disabled, 
        'red-class':(colorMode == 'GP-RM') && modelField < 0, 
        'green-class' :(colorMode == 'GP-RM') && modelField >= 0}">
    
    <span *ngIf="numType==='DOLLARS'" class="symbol pt-1">$</span>
    
    <input 
        [value]="formatService.numericValFormatted(modelField)"
        class="after-symbol"
        type="text" 
        placeholder="{{placeHolder}}" 
        (input)="onInputChange($event)"
        [min]="0"
        [disabled]="disabled"
        [ngClass]="{'disabled': disabled, 
        'red-class':(colorMode == 'GP-RM') && modelField < 0, 
        'green-class' :(colorMode == 'GP-RM') && modelField >= 0}"
    />

    <span *ngIf="numType==='PERCENT'" class="symbol pt-1">%</span>

</div>