<div class="card shadow-sm p-3 h-100 d-flex flex-column" (mouseover)="mouseOver()" (mouseout)="mouseOut()">
    <!-- Property Image -->
    <img [src]="property.primary_photo" class="card-img-top img-fluid rounded object-fit-cover" alt="Property Image" style="max-height: 250px;">
    
    <div class="card-body text-center">
        <!-- Price -->
        <h4 class="fw-bold">${{ property.list_price.toLocaleString() }}</h4>
        
        <!-- Beds, Baths, Sqft -->
        <p class="mb-2">
            <span class="fw-bold">{{ property.beds }}</span> bds | 
            <span class="fw-bold">{{ property.full_baths + property.half_baths }}</span> ba | 
            <span class="fw-bold">{{ property.sqft }}</span> sqft
        </p>
        
        <!-- Address -->
        <p class="text-muted" *ngIf="property.unit">{{ property.street }} {{ property.unit }}, {{ property.city }}, {{ property.state }}</p>
        <p class="text-muted" *ngIf="!property.unit">{{ property.street }}, {{ property.city }}, {{ property.state }}</p>
        
    </div>
    <a [routerLink]="'analysis'" [queryParams]="{ mls_id: property.mls_id }" class="stretched-link"></a>
</div>
