<p-panel>
    <p-header class="ms-5">
        <div>
            <h3>{{property.street}}  {{property.city}}, {{property.state}}</h3>
        </div>
    </p-header>
    <div class="container">
        <div class="row">
            <div class="col-4 p-1">
                <img src={{property.primary_photo}} class="img-fluid">
            </div>
            <div class="col-4 p-3">
                <p>Rent: ${{property.rent.toFixed(2)}}</p>
            </div>
            <div class="col-4 p-3">
                <p>Cash flow: ${{calcService.calcCashFlow(property).toFixed(2)}}</p>
            </div>
        </div>
    </div>
</p-panel>
