<div class="card shadow-sm pl-3 pr-3 h-100 d-flex flex-column" (mouseover)="mouseOver()" (mouseout)="mouseOut()" (click)="goToAnalysis(property.property_id)">
    <div class="pt-2 pl-1">
        <app-home-type-and-status [homeType]="property.style" [saleStatus]="property.status"></app-home-type-and-status>
    </div>

    <div *ngIf="property.monthly_rent"
        class="pl-2 pr-2 rounded-xl inline-block w-fit whitespace-nowrap"
        [ngClass]="{
            'red-class': cashFlow < 0,
            'green-class': cashFlow >= 0
        }"
        matTooltip="Estimated cash flow in year 0 with default mortgage and expenses."
        >
        {{ formatService.dollarFormatted(cashFlow) }}
    </div>

    <!-- Property Image -->
    <img [src]="property.primary_photo" class="card-img-top pt-1 img-fluid rounded object-fit-cover" alt="Property Image">
    
    <div class="card-body text-center">
        <!-- Price -->
        <h4 class="fw-bold">${{ property.list_price.toLocaleString() }}</h4>
        
        <!-- Beds, Baths, Sqft -->
        <p class="mb-2">
            <span class="fw-bold">{{ property.beds }}</span> bds | 
            <span class="fw-bold">{{ property.full_baths + property.half_baths }}</span> ba | 
            <span class="fw-bold">{{ property.sqft }}</span> sqft
        </p>
        
        <!-- Address -->
        <p class="text-muted" *ngIf="property.unit">{{ property.street }} {{ property.unit }}, {{ property.city }}, {{ property.state }}</p>
        <p class="text-muted" *ngIf="!property.unit">{{ property.street }}, {{ property.city }}, {{ property.state }}</p>
        
    </div>
</div>
