.card {
    transition: 0.5s;
}

.card:hover {
    transform: translateY(-6px);
  }

.red-class {
    background-color: rgb(255, 126, 126);
    opacity: 1;
}

.green-class {
    background-color: rgb(135, 249, 135);
    opacity: 1;
}