<div *ngIf="!property?.rent && !rentLoading && !rentErr" style="width: 140px;">
    <button (click)="getRent()">
        <span class="shadow flex justify-center"></span>
            <span class="edge"></span>
            <span class="front text"> Get rent
        </span>
    </button>
</div>

<div *ngIf="rentLoading" class="d-flex justify-content-center">
    <!-- Loading... -->
    <i class="pi pi-spin pi-cog" style="font-size: 1rem"></i>
</div>

<div *ngIf="property?.rent">
    <p>Rent: ${{property.rent.toFixed(2)}}</p>
</div>

<div *ngIf="rentErr" class="text-danger">
    <i class="pi pi-exclamation-triangle pi-3x me-2" style="font-size: 1.1rem; vertical-align: middle;"></i>
    <span class="align-middle" style="font-size: 1rem;">Error </span>
    <button (click)="getRent()">
        <i class="pi pi-refresh" style="font-size: 1rem"></i>
    </button>
</div>

