<div class="container-fluid" style="height: 100vh;">
    <div class="row pt-4">
        <div class="col-4">

            <!-- Home info card -->
            <div class="card p-4 d-flex flex-column h-100">

                <div class="row">
                    <h3 class="flex-grow text-center"><strong>Home</strong></h3>
    
                    <div class="flex">
                        <hr class="w-100 mx-auto">
                    </div>
                </div>

                <img [src]="property!.primary_photo" class="img-fluid rounded" alt="Property Image" style="max-height: 250px;">

                <div class="row justify-content-center">
                    <div class="col-6 d-flex flex-column align-items-center">
                        
                        <div class="w-100 pt-3 pl-2 d-flex">
                            <app-home-type-and-status [homeType]="property.style" [saleStatus]="property.status"></app-home-type-and-status>
                        </div>

                        <div class="d-flex flex-column justify-content-center align-items-center text-center flex-grow-1">
                            <h1><strong>${{formatService.formatWithCommas(property.list_price)}}</strong></h1>
                
                            <div class="pt-1">
                                {{ property!.beds ? property!.beds : 0 }} <strong>bed</strong> 
                                | {{ property.full_baths + property.half_baths ? property.full_baths + property.half_baths : 0 }} <strong>bath</strong> 
                                | {{ property!.sqft ? property!.sqft : 0 }} <strong>sqft</strong>
                            </div>

                            <p class="text-muted pt-1">{{ property!.full_street_line }}, {{ property!.city }}, {{ property!.state }} {{ property!.zip_code }}</p>
                        </div>
                        
                    </div>
                    <div class="col-6  d-flex flex-column">
                        <div class="d-flex flex-column justify-content-center flex-grow-1 pt-3">
                            <ul class="list-group mt-3">
                                <li class="list-group-item"><strong>MLS:</strong> {{ property!.mls }} (ID: {{ property!.mls_id }})</li>
                                <li class="list-group-item"><strong>Days on MLS:</strong> {{ property!.days_on_mls }}</li>
                                <li class="list-group-item"><strong>Built:</strong> {{ property!.year_built }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mt-auto d-flex justify-content-center align-items-center">
                    <app-common-button [text]="'View Full Listing'" (onClickEmitter)="openUrlInNewTab(property.property_url)"></app-common-button>
                </div>
            </div>
        </div>
        
        <div class="col-4">

            <!-- Financial card -->
            <div class="card p-4 h-100 d-flex flex-column">
                
                <div class="row">
                    <h3 class="flex-grow text-center"><strong>Financial</strong></h3>
        
                    <div class="d-flex">
                        <hr class="w-100 mx-auto">
                    </div>

                    <div class="col-6">
                        <ul class="list-group mt-3">
                          <li class="list-group-item"><strong>Price:</strong> ${{ formatService.formatWithCommas(property!.list_price) }}</li>
                          <li class="list-group-item"><strong>Assessed Value:</strong> ${{ formatService.formatWithCommas(property!.assessed_value) }}</li>
                          <li class="list-group-item"><strong>Estimated Value:</strong> ${{ formatService.formatWithCommas(property!.estimated_value) }}</li>
                        </ul>
                    </div>
                    
                    <div class="col-6">
                        <ul class="list-group mt-3">
                            <li class="list-group-item"><strong>HOA Fee (Annual):</strong> ${{ formatService.formatWithCommas(property!.hoa_fee) }}</li>
                            <li class="list-group-item"><strong>Tax:</strong> ${{ formatService.formatWithCommas(property!.tax) }}</li>
                            <li class="list-group-item"><strong>Price/Sqft:</strong> ${{ formatService.formatWithCommas(property!.price_per_sqft) }}</li>
                        </ul>
                    </div>
                </div>

                <div class="row flex-grow-1 d-flex justify-content-center align-items-center">
                    <app-tax-graph [property]="property"></app-tax-graph>
                </div>
    
            </div>
        </div>

        <div class="col-4">
            <!-- Location card -->
            <div class="card p-4 h-100">
                <div class="row">
                    <h3 class="flex-grow text-center"><strong>Location</strong></h3>
        
                    <div class="flex">
                        <hr class="w-100 mx-auto">
                    </div>
                </div>
    
                <div class="map-container" style="height: 50vh;">
                    <iframe width="100%" height="100%" frameborder="0" [src]="mapUrl"></iframe>
                </div>

                <div class="mt-4 ml-5">
                    <p *ngIf="property.nearby_schools"><strong>School Info:</strong> {{ property.nearby_schools }} </p>
                </div>
    
            </div>
        </div>
    </div>
  </div>
  