<nav class="navbar">
    <a routerLink="/" class="nav-logo">
        <div class="container p-0 d-flex flex-column justify-content-center align-items-center">
            <div class="row m-0 justify-content-center">
                <div style="display: flex; align-items: center;">
                    <h3 class="m-0 p-0 fs-5" style="font-weight: 500;">Ivy Street</h3>
                    <img src="assets/ivy.png" style="height: 20px; width: 20px; margin-right: 8px;" class="ml-3">
                </div>
                <div class="row m-0 justify-content-center">
                    <p class="m-0 p-0" style="font-size: 0.75rem; font-weight: 50;">Smart Property Analysis</p>
                </div>
            </div>
        </div>
    </a>
    <div *ngIf="isHomeRoute && searchService.properties.length > 0" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Search
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" (click)="$event.stopPropagation()">
            <div class="p-4">
                <app-search-form></app-search-form>
            </div>
        </ul>
    </div>
    <div class="nav-links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/analysis" routerLinkActive="active">Analysis</a>
    </div>
</nav>