<p>search-form works!</p>
<h1>Search form here</h1>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

    <!-- Location string input -->
    <div class="row">
        <label for="location">Location:</label>
        <input type="text" id="location" formControlName="location">
        <div *ngIf="searchForm.get('lcation')?.invalid && searchForm.get('location')?.touched">
            <small *ngIf="searchForm.get('lcation')?.errors?.['required']">Name is required.</small>
            <small *ngIf="searchForm.get('lcation')?.errors?.['minlength']">Must be at least 3 characters.</small>
        </div>
    </div>

    <!-- Min/Max slider -->
    <div class="row">
        <mat-slider min={{minCost}} max={{maxCost}} step=5000>
            <input value="50000" formControlName="minPrice" matSliderStartThumb>
            <input value="75000" formControlName="maxPrice" matSliderEndThumb>
        </mat-slider>
    </div>
    <div class="row">
        <div>
            <label> Min: </label>
            <input type="number" formControlName="minPrice" [value]="searchForm.get('minPrice')?.value">
        </div>
        <div>
            <label> Max: </label>
            <input type="number" formControlName="maxPrice" [value]="searchForm.get('maxPrice')?.value">
        </div>
    </div>

    <!-- Enter down payment in $ or % -->
    <div class="row">
        <label>
            <input type="radio" formControlName="downPaymentType" value="percentage" [(ngModel)]="selectedDownPaymentMethod"> Percentage
        </label>
        <label>
            <input type="radio" formControlName="downPaymentType" value="number" [(ngModel)]="selectedDownPaymentMethod"> Number
        </label>
    </div>

        <!-- Input field for percentage -->
    <div *ngIf="selectedDownPaymentMethod === 'percentage'">
        <label for="percentage">Enter Percentage:</label>
        <input id="downPaymentPercentage" formControlName="downPaymentPercentage" type="number" placeholder="20">
        <label for="percentage">%</label>
        <div *ngIf="searchForm.get('downPaymentPercentage')?.touched && searchForm.get('downPaymentPercentage')?.invalid">
        <div *ngIf="searchForm.get('downPaymentPercentage')?.hasError('required')">Percentage is required.</div>
        <div *ngIf="searchForm.get('downPaymentPercentage')?.hasError('min')">Minimum value is 0.</div>
        <div *ngIf="searchForm.get('downPaymentPercentage')?.hasError('max')">Maximum value is 100.</div>
        </div>
    </div>

    <!-- Input field for number -->
    <div *ngIf="selectedDownPaymentMethod === 'number'">
        <label for="number">Enter Down Payment: $</label>
        <input id="downPaymentNumber" formControlName="downPaymentNumber" type="number" placeholder="50,000">
        <div *ngIf="searchForm.get('downPaymentNumber')?.touched && searchForm.get('downPaymentNumber')?.invalid">
        <div *ngIf="searchForm.get('downPaymentNumber')?.hasError('downPaymentNumber')">Number is required.</div>
        </div>
    </div>


    <button type="submit" [disabled]="searchForm.invalid">Submit</button>
</form>