/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* For map marker */
.custom-marker .material-icons{
    color: rgb(2, 151, 237);
    font-size: 2rem;
}

.custom-marker :hover {
    color: rgb(237, 151, 2);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
