/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* For map marker */
.custom-marker .material-icons{
    color: rgb(2, 151, 237);
    font-size: 2rem;
}

.custom-marker :hover {
    color: red;
}

/* Inputs used on analysis pages */
input {
    align-items: center;
    justify-content: center;
    outline: none;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 10px;
    background-color: #fff;
    font-size: 15px;
    width: 125px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }


