<div class="d-flex justify-content-center" style="height: 100vh;">
    <div class="card m-10 p-4" style="width: 450px; height: 500px;">

        <h2 class="text-center"><strong>Mortgage Calculator</strong></h2>

        <div class="flex">
            <hr class="w-100 mx-auto">
        </div>

        <table>
            <tbody>
            <!-- Purchase Price -->
            <tr>
                <td>Purchase Price</td>
                <td>
                    <app-numerical-input 
                        [modelField]="analysisService.purchasePrice" 
                        [numType]="'DOLLARS'" 
                        (modelFieldChange)="analysisService.purchasePrice = $event; updatePieChart()">
                    </app-numerical-input>
                </td>
            </tr>
            <!-- Interest Rate -->
            <tr>
                <td>Interest Rate </td>
                <td>
                    <app-numerical-input 
                        [modelField]="analysisService.interestRate" 
                        [numType]="'PERCENT'" 
                        (modelFieldChange)="analysisService.interestRate = $event; updatePieChart()">
                    </app-numerical-input>
                </td>
            </tr>

            <!-- Loan Term -->
            <tr>
                <td>Loan Term (years) </td>
                <td>
                    <app-numerical-input 
                        [modelField]="analysisService.loanTerm" 
                        (modelFieldChange)="analysisService.loanTerm = $event; updatePieChart()">
                    </app-numerical-input>
                </td>
            </tr>

            <!-- Down Payment -->
            <tr>
                <td>Down Payment</td>
                <td>
                    <app-numerical-input 
                        [modelField]="analysisService.downPaymentPercentage" 
                        [numType]="'PERCENT'" 
                        (modelFieldChange)="analysisService.downPaymentPercentage = $event; updatePieChart()">
                    </app-numerical-input>
                </td>
            </tr>

            <!-- Down Payment -->
            <tr>
                <td><strong>Down Payment</strong></td>
                <td>
                    <app-numerical-input 
                        [modelField]="calcService.calcDownPayment(analysisService.purchasePrice, analysisService.downPaymentPercentage)" 
                        [numType]="'DOLLARS'" 
                        [disabled]="true">
                    </app-numerical-input>
                </td>
            </tr>

            <!-- Monthly Payment -->
            <tr>
                <td><strong>Monthly Payment</strong></td>
                <td>
                <app-numerical-input 
                    [modelField]="calcService.calcMonthlyPayment(analysisService.purchasePrice, analysisService.downPaymentPercentage, analysisService.loanTerm, analysisService.interestRate)" 
                    [numType]="'DOLLARS'" 
                    [disabled]="true">
                </app-numerical-input>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

